@media screen and (max-width: 767px)
    .container
        .main_container
            padding: 0
    .header
        margin-top: 50px
    
    .kicker
        text-align: center
        padding: 0
        
    .content
        text-align: justify
        p
            letter-spacing: .5px