@media screen and (max-width: 767px)
  .container
    .main_container
      padding: 0
      overflow: hidden
  .header
    margin-top: 50px

  .kicker
    text-align: center
    padding: 0

  .content
    // text-align: justify
    p
      letter-spacing: .5px
      
  .about-container
    padding: 30px 0 0
  .about
    ul
      font-size: 1em
      li
        font-size: .8em