//**************************
//***** layout styling *****
//**************************
.main_container
  max-width: 680px
  // height: 1200px
  overflow: auto
  .header
    border-bottom: 2px solid #d7d3d2
    margin: 60px 0
    padding-bottom: 40px
    .img_container
      text-align: center
      // margin-bottom: 15px
.img_wrap
  height: 100px
  width: 100px
  border-radius: 100%
  background: lightgray
  overflow: hidden
  display: inline-block
  border: 1px solid #ccc
  img
    height: 130%
    position: relative
    left: -10px

.kicker
  text-align: center
  h1
    font-weight: 300
    font-size: 4em

  h2
    font-size: 1.1em
    font-weight: 600

.content
  p
    font-weight: 400
    font-size: 1.2em
    line-height: 1.6
    color: #2d3f50
    letter-spacing: .5px
    margin-bottom: 20px
    // background: pink
    > a
      color: #ee2b5b

//**************************
//***** Navigation Bar *****
//**************************
.navbar-default
  border-radius: 0
  background: #fff

  .img_wrap
    height: 70px
    width: 70px
    margin: 10px 15px 10px 0
    float: left
    img
      height: 150%
      width: 150%
      margin-left: -10px
.navbar-brand
  h1
    font-size: 1.2em
  h2
    font-size: 0.675em
  h1
    margin-top: 10px

.navbar-right
  margin: 20px
.navbar-toggle
  margin-top: 28px

.caret
  margin-left: 8px
a
  font-weight: 500
  font-size: 1.1em
.active > a
  color: rgba(238,43,91,.8)!important
  background: #fff !important
  transition: .5s ease-in-out
