#portfolio           
  background: #F3F7F8
  
  .carousel
    height: 350px
    
    .slide
      background: #fff
      width: 4%
      margin: 5px 8px
      padding: 30px
      height: 350px
      border-radius: 5px
      box-shadow: 0 1px 2px 0 #B3B3B3
      transition: transform .2s ease-in-out
      cursor: -webkit-grab
      &:focus
        outline: none
      &:active
        cursor: -webkit-grabbing